/* General layout */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-2);
}

.nav_links {
  display: flex;
  gap: var(--padding-2);
}

.bread_crumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-family-p);
  font-weight: var(--font-weight-p-bold);
}

/* Forage card layout */

.subsections {
  display: flex;
  gap: 8px;
}

.forage_h1 {
  padding-bottom: 16px;
}

.forageCard {
  padding: 0 8px;
}

.forageCard p {
  padding-bottom: var(--padding-3);
}

.profile_img {
  max-width: 430px;
  min-width: 350px;
  height: fit-content;
  border: var(--stroke);
}

.reading_link {
  display: none;
}

@media only screen and (min-width: 831px) {
  #ingredientsGrid {
    display: grid;
  }

  .forageCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }

  .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-3);
  }

  .col-2 {
    order: -1;
  }

  .reading_link {
    display: block;
  }

  .reading_link2 {
    display: none;
  }
}
