* body {
  background-color: #17bebb;
}

.hero {
  text-align: center;
  height: 900px;
  background-image: url(billeder/madlavning-kopi.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  padding-top: 500px;
  font-size: 50px;
  color: white;
}

.grid_raavarer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 10rem;
  margin-right: 10rem;
  gap: 5rem;
  margin-right: 10px;
}

h2 {
  text-align: center;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.grid_raavarer img {
  display: block;
  max-width: 100%;
  width: 60%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid;
}
