@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "BeautifulFreak";
  src: url(fonts/beautiful_freak_bold.otf) format("opentype");
}
:root {
  /* farver */
  --white: #ffffff;
  --black: #2e282a;
  --yellow: #ffdc23;
  --red: #ff4343;
  --purple: #cab6cd;
  --turquoise: #17bebb;

  /* Stroke / border design */
  --stroke: 3px solid var(--black);

  /* Distance */

  --padding-1: 8px;
  --padding-2: 1rem;
  --grid-gap-size: ;

  /* Fonts */

  --font-family-p: "Lato", sans-serif;
  --font-weight-p: 400;
  --font-weight-p-bold: 700;
  --font-h: "BeautifulFreak";

  /* Font sizes */

  --h1-resizable: clamp(24px, 2em, 60px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: auto;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--yellow);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-h);
  font-size: var(--h1-resizable);
  color: var(--black);
}

p {
  font-family: var(--font-family-p);
  font-weight: var(--font-weight-p);
  font-size: clamp(16px, 0.8em, 20px);
  line-height: 1.6;
  color: var(--black);
  overflow-wrap: break-word;
  text-wrap: pretty;
}
