@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "BeautifulFreak";
  src: url(fonts/beautiful_freak_bold.otf) format("opentype");
}
:root {
  /* farver */
  --white: #ffffff;
  --black: #2e282a;
  --yellow: #ffdc23;
  --red: #ff4343;
  --purple: #cab6cd;
  --turquoise: #17bebb;

  /* Stroke / border design */
  --stroke: 3px solid var(--black);
  --border-radius: 24px;

  /* Distance */

  --padding-1: 8px;
  --padding-2: 1rem;
  --padding-3: 2rem;
  --grid-gap-size: ;
  --button-padding: 12px 48px;

  /* Layout width */
  --layout-width-xl: 1440px;
  --layout-width-medium: 1140px;
  --layout-width-small: 960px;

  /* Fonts */

  --font-family-p: "Lato", sans-serif;
  --font-weight-p: 400;
  --font-weight-p-bold: 700;
  --font-h: "BeautifulFreak";

  /* Font sizes */

  --h1-resizable: clamp(3rem, 7vw, 7rem);
  --h2-resizable: clamp(24px, 3em, 60px);
  --h3-resizable: clamp(18px, 1.6em, 60px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: auto;
  height: 100%;
}

body {
  margin: auto;
  min-height: 100vh;
  background-color: var(--yellow);
}

.forage_body {
  background-color: var(--purple);
}

.forageList_body {
  background-color: var(--red);
}

#ingredientsGrid {
  margin: auto;
  width: 100%;
  max-width: 1250px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  display: block;
  height: auto;
  width: 100%;
}

.nav_icon {
  max-width: 90px;
  height: auto;
}

.icon {
  max-width: 28px;
  max-height: 28px;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-h);
  font-size: var(--h1-resizable);
  color: var(--black);
  white-space: nowrap;
}

h2 {
  font-size: var(--h2-resizable);
  white-space: initial;
}

h3 {
  font-size: var(--h3-resizable);
}

h4 {
  font-size: var(--h3-resizable);
}

p {
  font-family: var(--font-family-p);
  font-weight: var(--font-weight-p);
  font-size: clamp(16px, 0.8em, 20px);
  line-height: 1.6;
  color: var(--black);
  overflow-wrap: break-word;
  text-wrap: pretty;
}

.buttonWrapper {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: fit-content;
  margin: auto;
  transition: ease 0.3s all;
}

.buttonStyle {
  background-color: var(--yellow);
  border: var(--stroke);
  font-family: var(--font-h);
  font-size: var(--h3-resizable);

  border-radius: var(--border-radius);
  padding: var(--button-padding);
}

.buttonWhite {
  background-color: var(--white);
  padding: var(--button-padding);
}

.buttonWrapper > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.buttonWrapper .buttonStyle {
  z-index: 2;
}

.buttonWrapper .buttonWhite {
  z-index: 1;
  transform: translate(6px, 6px);
  transition: ease 0.3s all;
}

.buttonStyle:active {
  background-color: #e3c21a;
}

.buttonWrapper:hover {
  transform: scale(1.1);
}

.emphasis_span {
  font-size: var(--h1-resizable);
}